<div class="container">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="page3">
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nemo porro nihil ex autem expedita, praesentium voluptates corporis omnis modi, nostrum quam quibusdam ullam at error a officiis? Distinctio, dolores?</p>

    <%= link_to 'posts', posts_path, class: "btn btn-dark"%>
    <%= link_to 'page2', pages_page2_path, class: "btn btn-dark"%>
    <%= link_to 'page3', pages_page3_path, class: "btn btn-dark"%>
  </div>


</div>
